<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}" />
</head>

<body>
    <h1>Search your toots</h1>
    <form method="GET" action="">
        <input type="text" name="searchTerm" value="" placeholder="search term">
        <input type="button" name="button" value="Search" onClick="search(this.form)">
    </form>

    <section id="results">
    </section>

    <footer>
        <a href="https://sam.pikesley.org/projects/searchodon/">searchodon on pikesley.org</a>
    </footer>
</body>

<script>
    function search(form) {
        var resultsDiv = document.getElementById("results")
        resultsDiv.replaceChildren();

        var queryTerm = form.searchTerm.value
        if (!queryTerm) {
            return
        }
        console.log("Searching for " + queryTerm)
        fetch("/search?query=" + queryTerm, { headers: { "Content-Type": "application/json; charset=utf-8" } })
            .then(res => res.json())
            .then(response => {
                totaliser = document.createElement("article")
                var totalText = document.createTextNode(response.length + ' toots found containing "' + queryTerm + '"');
                totaliser.append(totalText)
                resultsDiv.append(totaliser)

                response.forEach(function render(toot) {
                    resultsDiv.append(renderToot(toot))
                })
            })
            .catch(err => {
                console.log(err)
                alert("sorry, there are no results for your search")
            });
    }

    function renderToot(tootData) {
        var toot = document.createElement("article");
        toot.setAttribute("class", "toot")

        var content = document.createElement("div")
        content.setAttribute("class", "toot-content")
        content.innerHTML = tootData.object.content;

        var link = document.createElement("a")
        link.setAttribute("class", "toot-link")
        var linkText = document.createTextNode(tootData.object.url);

        link.setAttribute("href", tootData.object.url)
        link.appendChild(linkText);

        var datestamp = document.createElement("time")
        var tootDate = document.createTextNode(tootData.object.published)
        datestamp.appendChild(tootDate)

        toot.append(datestamp)
        toot.append(content)
        toot.append(link)

        return toot;
    }

</script>

</html>
